.content {
    padding-top: 0 !important;
}
.form-floating textarea {
    height: 6em
}
.add-comment {
    padding: 1.12em 2em;
    margin-left: .5em;
}
.chat-bubble { 
    padding: 1em;
    border-radius: .5em;
    margin:.25em
}
.chat-bubble.text-right {
    background-color: lightcyan;
    margin-left: 20% !important;
}
.chat-bubble.text-left {
    background-color: lightpink;
    margin-right: 20% !important;
}



