@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar side-bg">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 top-bg">
            <strong><a href="http://blazor.net" target="_blank" class="ml-md-auto about">About</a></strong>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
